<div class = "container">
    <h3>Add a new cocktail</h3>
    <div class="background background-add">
        <div class="container">
        <%= simple_form_for [ @cocktail] do |f| %>
            <%= f.input :name %>
            <br>
            <%= f.submit "Submit", class: "btn btn-dark" %>
            <h1><%= link_to "Go back", '/cocktails', class: "btn btn-dark btn button  " %></h1>
        <% end %>  
        </div>
    </div>
</div>
