.banner {
    color: white;
    text-align: left; ;
    height: 300px;
    background-size: cover !important;
    display: flex;
    align-items: left;
    justify-content: end;
    margin-bottom: 15px;
  }
  .banner h1 {
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: lighter;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  .banner p {
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
  .banner{
      .banner-content {
        margin-left: 20px;
        margin-top: 20px;
      }
  }
  .banner-content{
      .button{
        font-family: 'Raleway';
        font-size: 22px;
        font-weight: lighter;
        border-radius: 5px;
        padding: 11px;
      }
  }
  .background {
      margin-bottom: 10px;
      background-image: url('https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
      background-size: cover;
      background-position: center;
      opacity: 0.8;
      height: 210vh;
      box-sizing: content-box;
      width: 100%;
      border-radius: 5px;
  }
h3{
  color: rgb(22, 22, 22);
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: white;
}


.container{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.dropdowns{
  align-items: center;
  text-align: center;
  width: 300px;
}

  .background-add{
    height: 700px !important;
  }

  .list-group-item{
    opacity: 0.6 !important;
  }
  .container-md{
    width: 500px !important;
    background-color: white;;
    h3{
      font-size: 25px;
      font-weight: lighter;
      letter-spacing: 7px;
      color: black !important;
      font-family: 'Raleway';
    }
  }