.card {
    height: 175px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-image: url('https://images.unsplash.com/photo-1586338211598-e2d64cf97e28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80');
    background-size: cover !important;
    background-position: center;
    position: relative;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .card-description {
    position: absolute;
    bottom: 10px;
  }
  .card-description a {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    margin-left: 6px;
    margin-top: 6px;
    text-decoration: none;
  }
  .card-link {

    font-family: 'Raleway';
    opacity: 0.8;
    color: white;

  }
  .card-link:hover {
    opacity: 0.3;
  }